.NEWS{
    background-color: rgb(24, 23, 23);
}
.updates{
    text-align: center;
    color: whitesmoke;
    font-size: small;
}
.newsheader{
    text-align: center;
    color: whitesmoke;
    font-size: small;
    
}
