.NEWS{
    background-color: rgb(238, 238, 238);

    span{
        width: 100%;
    }
}
.updates{
    color: whitesmoke;
}
.newsbox{
    color: black;
    font-size: small;
    float: left;
    width: 33.33%;
    height: 60%;
    padding: 2%;
    display: grid;   
  
}
.newscontent{   
    float: left; 
    color: darkgreen;
}

h3{
    color: rgb(46, 45, 45)
}
.newsheader{
    font-size: 15px;
    font-weight: bold;
}

.NEWS:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .newsbox {
      width: 100%;
    }
  }
  