.TRACK {
    .center8 {
        position: absolute;
        display: block;
        top: 50%;
        left: 55%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 70.5%;
        height: 88vh;
        max-width: 800px;
        display: -webkit-box;
        display: flex;
    }
    .inspiration {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-family: 'Gill Sans', sans-serif;
        color: #555;
    }

    .right .title {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    .right .description {
        margin-top: 5px;
        margin-bottom: 20px;
        color: #808080;
        text-align: center;
        font-size: 13px;
    }

    // .mapboxgl-canvas {
    //     // width: 325px;
    //     // height: 100px;
       
    // }
    *,
    *:before,
    *:after {
      position: relative;
      box-sizing: border-box;
    }
    
    @mixin three-d {
      transform-style: preserve-3d;
      perspective: 1000px;
    }
    
    html { height: 100%; }
    body { width: 100%; height: 100%; display: flex; background: #DBDDE5; } 
    #app {
      margin: auto;
      // width: 60vw;
      // min-height: 50vh;
      background: #EBEBEC;
      overflow: hidden;
      box-shadow: 0 1rem 1rem rgba(black, 0.05);
      border-radius: 1.5rem;
      border: .5rem solid white;
    }
    
    #app[data-state] {
      width: 50vh;
      height: 85vh;
      min-height: auto;
    }
    
    .app-wrapper {
      @include three-d;
    
      width: 100%;
      height: 100%;
      display: grid;
    
      #app[data-state] & {
        grid-template: 1fr / 1fr;
        .layer { grid-area: 1 / 1; }
      }
    }
    
}
