.FOODLOCATOR {
        background-image: url("../../assets/images/foodbanner.jpg");
        width: auto;
        height: 590px;
        background-size: 200%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(31, 27, 27);
        overflow: hidden;
}
.foodlocation{
    color: white;
    background-color: rgb(238, 238, 238);
    }