.TITLE{
    background-image: url(../../assets/images/SpringValley-AaronWatson-2015-cherries-012-1000x450-1000x450.jpg);
    width: auto;
    height: 467.5px;
    background-size: 200%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:  rgb(31, 27, 27);
}
.TITLE-TEXT{
    font-size: 54px;
    line-height: 1em;
    text-align: center;
    position: relative;
    top: 20%;
    color: black;
}
.title-subtext {
    color: rgb(40, 44, 48);
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 25%;
    font-weight: bold;

}
.BUTTON{
    position: relative;
    top: 10em;
    left: 43%;
    font-size: 14px;
    width: 12%;

}