.navbar {
    padding: .8% 0% .8% 0%;
    
}
.sticky {
    position: fixed;
    width: 100%;
  }
.menu {
    background-color: transparent;
}

.mcfb-logo {
    position: relative;
    left: 5%;
    background-color: transparent;
}
.mcfb {
    width: 50%;
}

.login {
    position: relative;
    left: 10%;
}



