.navbar {
    padding: 0.3% 0% 0.3% 0%;
}
.NAVTEXT{
    font-size: smaller;
}
.sticky {
    position: fixed;
    width: 100%;
}
.menu {
    background-color: transparent;
}

.mcfb-logo {
    position: relative;
    left: 2%;
    background-color: transparent;
    cursor: pointer;
}
.mcfb {
    width: 50%;
}

.login {
    position: relative;
    left: 20%;
}
